<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Seco"
            id="seco.eclipse">
      </category>
      <view
            name="Seco"
            icon="icons/logoicon.gif"
            category="seco.eclipse"
            class="seco.eclipse.SecoView"
            id="seco.eclipse.SecoView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="1.0"
               relationship="fast"
               id="seco.eclipse.SecoView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="seco.plugin.actionSet"
            label="Seco"
            visible="true">
          <action
               class="seco.eclipse.SecoProjectAction"
               icon="icons/logoicon.gif"
               id="seco.eclipse.SecoProjectAction"
               label="&amp;Open Niche"
               toolbarPath="secoGroup"
               tooltip="Seco project">
         </action>
      </actionSet>
   </extension>

</plugin>
